.block {
    width: 100%;
    height: 100%;
    padding: 15px;
    box-sizing: border-box;
    text-align: center;
}

.menuLink {
    margin-bottom: 15px;
    &:last-child {
        margin-bottom: 0;
    }
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}