.app {
    width: 100%;
    min-height: 100vh;
}

.header {
    width: 100%;
    height: 60px;
    position: fixed;
}

.main {
    padding-top: 60px;
    display: flex;
    max-width: 970px;
    width: 100%;
    margin: 0 auto; 
}

.menu {
    position: fixed;
    width: 130px;
}

.content {
    width: calc( 100% - 140px );
    height: 8000px;
    margin-left: 140px;
}