.itemAvatar {
    width: 50px;
    height: 50px;
    margin-right: 20px;
}
.item {
    border: 1px solid gray;
    padding: 15px;
    border-radius: 5px;
    display: flex;
    align-items: stretch;
}
.itemText {
    font-weight: 20;
    font-weight: bold;
    margin-bottom: 10px;
}
.itemData {
    flex-grow: 1;
}
.itemContent {
    width: 100%;
}